.table-rate {
  display: flex;
  margin-top: 2vw;
  flex-direction: column;
  align-items: center;

  .timestamp
  {
    margin-bottom: 1vh;
   margin-left: 26vw;
   font-style: italic;

  }

 button
  {
    margin-top: .5vh;
  }
}

table {
  width: 40%;
}
